<ion-header>
  <ion-toolbar>
    <ion-title>Redefinir Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-button class="forg-btn" expand="full" (click)="resetPassword()">Enviar e-mail de redefinição</ion-button>
  <div class="forgot-password-link">
    <ion-text>Engano? <ion-router-link [routerLink]="['/login']">Voltar para login</ion-router-link></ion-text>
  </div>
</ion-content>
