.forgot-password-link{
    text-align: center;
    margin-top: 10px;
}

ion-button.forg-btn {
    border-radius: 20px;  
    --border-radius: 20px;  
    background-color: #5387da;  
    color: rgba(248, 245, 245, 0.945);  
    font-size: 14px;  
    padding: 10px 20px;  
    margin-top: 373px;
}
  