<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tarefas</ion-title>
    <ion-buttons slot="end">
    
      <ion-button (click)="logout()">Deslogar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Área para adicionar nova tarefa -->
  <ion-item>
    <ion-textarea placeholder="Digite sua nova tarefa..." [(ngModel)]="inputTarefa"></ion-textarea>
  </ion-item>
  <ion-button id="btnC" expand="block" (click)="salvarTarefa()">
    {{tarefaEmEdicao ? "Editar Tarefa" : "Criar Tarefa"}}
  </ion-button>

  <!-- Lista de Tarefas -->
  <ion-list *ngIf="tarefas">
    <ion-item *ngFor="let tarefa of tarefas">
      <ion-label>{{ tarefa.name }}</ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editarTarefa(tarefa)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="excluirTarefa(tarefa)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
